/* COLOR */

$accent: #FFEF35;
$text: #5A5A5A;
$title: #363838;
$footer-bg: #DFDFDF;

/* FONTS */

%montserrat-700 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
}

%opensans-400 {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
}

%opensans-600 {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-weight: 600;
}